body{
    display: flex;
 flex-direction: column;

}

.active{
    height: 100px;
    width: 200px;
    background: #2ec729;
    margin-top: 10px;
    margin-left: 40%;
    text-align: center;
    border-radius: 10px;
}
.passive{
    height: 100px;
    width: 200px;
    background: #4cd0d0;
    margin-top: 10px;
    margin-left: 40%;
    text-align: center;
    border-radius: 10px;
}
h1{
font-size: 25px;
}