#obj{
    height: 150px;
    width: 150px;
    border: 5px solid blue ;
    padding: 10px;
    background: aqua;

}
body{
    color: burlywood;
    background: blanchedalmond;
    width: 1000px;
    height: 1000px;

}
.cords{
    padding: 5px;
    border: 5px solid blue ;
    background: cadetblue;
    width: 100px;
}